body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #f0a500;
}

footer {
    text-align: center;
    padding: 10px;
}

.content img,
.product img {
   width: 50%; 
   height: auto;
}